.barranavegacion{
    background-color: #fafafa;
    justify-content: center;
    text-align: center;
    img{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 15vw;
    };
    nav{
        ul{
            list-style-type: none;
            display: flex;
            justify-content:center;
            text-align: center;
            background-color: #090909;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            li{
                margin: 5px;
                a{
                    color: rgb(255, 255, 255);
                    text-decoration: none;
                    padding: 3px 10px 3px 10px;
                    transition: 1s;
                    &:hover{
                        transform: scale(1.1);
                        color: #ffffff;
                        background-color: #d60998;
                    }
                }
            }
        }
    }
}